.ProfileSidebar {
  position: sticky;
  top: calc(var(--navbar-height) + 2rem);
}

@media (max-width: 991.98px) {
  .ProfileSidebar {
    display: none;
  }
}

.navigationMenu {
  height: max-content;
  border-left: 2px solid var(--primary-05);

  .navigationItem {
    font-size: 12px;
    padding: 12px 24px;
    cursor: pointer;
    border-left: 2px solid transparent;
    margin-left: -2px;

    transition: background-color .3s ease, border-left-color .3s ease;

    &:hover {
      background-color: var(--primary-5);
    }
  }

  .active {
    border-left-color: black;
    margin-left: -2px;
  }
}
