
.rightBar {
    width: 22rem;
    height: 100%;

    position: sticky;
    top: 0;

    background: white;
    border-radius: 4px;
    padding: 2rem;
}

@media (max-width: 990px) {
    .rightBar {
        margin: 0 auto 2.4rem;
        width: 100%;
    }
}
