.ProductDetails {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 991px) {
    .ProductDetails {
        align-items: stretch;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        max-width: 1400px;
        height: 100%;
        margin: 0 auto;
        padding: 20px 36px;
    }
}

.wrapperContent {
    //width: 100%;
    display: flex;
    flex-direction: row;
}
