.ProfileCards {
  flex: 1 0 auto;
}

.accountItem {
  max-width: 34rem;

  @media (max-width: 570px) {
      width: 90vw;

      .container {
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 16px;

          .Input {
            width: 100%;
          }


          label, .accountDesc {
              width: 90vw;
          }

          label:last-child {
              margin-top: 20px;
          }
      }
  }
}

.accountDesc {
  color: var(--primary-40);
  font-size: 12px;
}

.accountItem:not(:first-child) {
  padding-top: 5rem;
}

.avatar {
  width: 64px;
  height: 64px;
  background-color: var(--primary-05);
  border-radius: 50%;

  .avatarData {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      color: var(--primary-40);
      font-size: var(--font-size-l);
  }
}

// BLOCK EMAIL
.wrapperEmailInput {
  width: 100%;
}

.Input {
  padding: 13px 52px 13px 16px;
}