@import "reset";
@import "themes/light";
@import "variables/global";

.app {
  background: white;
  font: var(--font-m);
}

.content-wrapper {
  height: 100%;
}


@media (max-width: 990px) {
    .swiper-wrapper {
        height: auto;
    }
}
