@import "reset";
@import "themes/light";
@import "variables/global";

.app {
  background: white;
  font: var(--font-m);
}

.content-wrapper {
  height: 100%;
}


.swiper-slide {
    height: 100px;
}
