.AdminTable {

}

.containerTable {
    flex-grow: 1;
    min-height: 650px;

    background-color: white;
    border-radius: 4px;
}


.filters {
    width: 14rem;
    height: 80vh;
    padding: 15px 20px;

    background-color: white;
    border-radius: 4px;

}
