@import "@/shared/mixins/mixins";

.menu {
    background: white;
    position: absolute;
    flex-direction: column;
    display: flex;
    padding: 0 24px;

    width: 270px;

    -webkit-box-shadow: 0 5px 20px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 20px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 20px 2px rgba(34, 60, 80, 0.2);

    top: 100%;
    right: 0;
    animation: appearDropdown 0.3s ease;
}

@keyframes appearDropdown {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.item {
    @include listLinksUser;
}

.redColor {
    color: red;
    transition: opacity .2s ease;

    &:hover {
        opacity: 0.5;
        color: red;
    }
}

.popup {
    position: relative;
}

.menu {
    border-radius: 4px;
    overflow: hidden;
}

.trigger {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    transition: background-color 0.2s ease;

    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.disabled {
    opacity: 0.7;
}
