.wrapperBrandDetailsPage {
    background-color: var(--bg-color);
}

.BrandDetailsPage {
    max-width: var(--max-content-width);
    min-height: calc(100vh - var(--navbar-height));
    margin: 0 auto;
}
