.AdminLoginPage {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-10);
}

.wrapperForm {
    height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 32rem;
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
}
