.Input {
    position: relative;
}

.clear {
    border: none;
    outline: none;
    background: none;
}

.underline {
    outline: none;
    border: none;

    border-bottom: 1px solid var(--primary-10);

    &::placeholder {
        color: var(--primary-40);
    }

    &:focus {
        border-bottom: 1px solid deepskyblue;
    }
}

.border {
    outline: none;
    border: 1px solid var(--primary-10);
    border-radius: 4px;
}

.search {
    border: none;
    outline: none;
    border-radius: 4px;

    &::placeholder {
        color: var(--primary-40);
    }
}

.fullWidth {
    width: 100%;
}

.label {
    display: flex;
}

.labelRow {
    flex-direction: row;
}

.labelColumn {
    flex-direction: column;
}
