.rightSidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--sidebar-z-index);
    pointer-events: none;
}


.leftSide {
    align-items: flex-start;
}

.rightSide {
    align-items: flex-end;
}

.opened {
    pointer-events: auto;

}

.container {
    height: 100vh;
    min-height: auto;
    width: 20rem;
    max-width: 80%;

    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    z-index: var(--sidebar-z-index);

}

.toggleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: black;
    transition: background-color .3s ease, color .3s ease;
}

.rightSide {
    .container {
        animation: openSideBarRight 0.3s ease;
    }

    .closing {
        animation: closeSideBarRight 0.3s ease;
    }
}

.leftSide {
    .container {
        animation: openSideBarLeft 0.3s ease;
    }

    .closing {
        animation: closeSideBarLeft 0.3s ease;
    }
}


// -- RIGHT SIDE ---
@keyframes openSideBarRight {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes closeSideBarRight {
    from {
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(300px);
    }
}

// --- LEFT SIDE ---
@keyframes openSideBarLeft {
    from {
        //opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes closeSideBarLeft {
    from {
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-300px);
    }
}

