.containerDragAndDrop {
    width: 100%;

    .dnd {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px dashed black;
        max-width: 500px;
        height: 100px;
    }


    .wrapperPreviewImage {
        display: flex;
        gap: 16px;
        align-items: center;
        position: relative;
        max-width: 100px;
        max-height: 200px;
        margin-top: 12px;
    }

    .previewImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}