.dropdown {
    position: absolute;
    top: calc(var(--navbar-height) - 1.2rem);
    right: 0;
    z-index: -1;

    width: 24rem;
    height: auto;    
    padding: 8px 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 var(--primary-10);
    transition: opacity 0.15s ease;
}

.overlay {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}