.wrapperMenPage {
    background: var(--bg-color);
    min-height: calc(100vh - var(--navbar-height));
    overflow: hidden;
}

.MenPage {
    position: relative;
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.wrapperContent {
    display: grid;
    grid-template-areas:
            'left content';
    grid-template-columns: min-content 1fr min-content;
    padding-top: 40px;
}

.left {
    grid-area: left;
}
