.RecentProducts {
    max-width: var(--max-content-width);
}

.containerListProducts {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.listProducts {
    width: 100%;

}


@media (max-width: 990px) {
    .listProducts {
        display: flex;
        justify-content: start;
    }
}
