.ToggleItems {
    padding: 4px 0;
    border-bottom: 1px solid var(--primary-10);
}

.title {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.4px;
}

.searchItems {
    margin-top: 30px;
}
