.leftBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.productHeader {
    display: none;
}

.swiper {
    order: 1;
    padding: 0 1rem;
    margin: 20px 0;

    .leftImages {
        overflow: visible;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-05);
    }
}

.wrapperPreviewImage {
    display: flex;
    flex-direction: column;
}

.containerPrevImage {
    position: relative;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.previewImage {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.wrapperMainImage {
    position: relative;
    width: 100%;
}

.containerBigImage {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 100%;
}

.mainImage {
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

// Mobile | small window
@media (min-width: 991px) {
    .leftBar {
        flex-direction: row;
        justify-content: flex-start;
    }

    .swiper {
        display: block;
        order: 0;
    }

    .wrapperMainImage {
        margin: 0 auto;
        flex: 0 1 40rem;
        padding: 0 2.4rem;
    }
}

// Desktop device
@media (max-width: 990px) {
    .productHeader {
        display: block;
        width: 100%;
        padding: 0.5rem 2rem 1rem;
        background-color: white;
    }

    .wrapperSlide {
        display: flex;
        justify-content: center;
    }
}


